{% extends "base.html" %}
{% block title %}Add Employee{% endblock %}
{% block content %}
<h2>Add Employee</h2>
<form method="POST">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" name="name" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" name="email" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Phone</label>
        <input type="text" name="phone" class="form-control">
    </div>
    
    </div>
    <div class="mb-3">
    <label class="form-label">Designation</label>
    <select name="designation_id" class="form-select" required>
        <option value="">-- Select Designation --</option>
        <option value="1">Manager</option>
        <option value="2">Team Lead</option>
        <option value="3">Senior Developer</option>
        <option value="4">Junior Developer</option>
        <option value="5">Intern</option>
    </select>
</div>

    <div class="mb-3">
        <label class="form-label">Salary</label>
        <input type="number" name="salary" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Address</label>
        <textarea name="address" class="form-control"></textarea>
    </div>
    <div class="mb-3">
        <label class="form-label">Date of Joining</label>
        <input type="date" name="date_of_joining" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Add Employee</button>
</form>
{% endblock %}